/* Reset some default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  min-height: 100vh;
    background: url(assets/image/index/stary\ night.jpg);
    background-size: cover;
    background-position: center;
    animation: loopBackground 30s linear infinite;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1.3rem 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.header::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  backdrop-filter: blur(50px);
  z-index: -1;
}

.header::after {
  content: '';
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, transparent, rgba(255, 255, 255, .4), transparent);
  transition: .5s;
}

.header:hover::after {
  left: 100%;
}


.logo {
  font-size: 2rem;
  background: yellowgreen;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  text-decoration: none;
  font-weight: 700;
  opacity: 1;
  animation: slideTop 1s ease forwards;
}

.navbar {
  animation: slideTop 1s ease forwards;
}

.navbar a {
  position: relative;
  font-size: 1.15rem;
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  margin-left: 2.5rem;
  text-shadow:  0 0 10px yellowgreen;
}

.navbar a.active::before {
  content: '';
  bottom: -6px;
  position: absolute;
  left: 0;
  width: 100%;
  height: .2rem;
  background: #fff;
}

#check {
  display: none;
}

.icons {
  position: absolute;
  right: 5%;
  font-size: 2.8rem;
  color: #fff;
  cursor: pointer;
  display: none;
}

main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10%;
}

.home {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10 10%;
}

.home-content {
  max-width: 600px;
  color: #fff;
  opacity: 0;
  transform: translateX(20px);
  animation: fadeIn 1s ease forwards;
}


.home-content h1,
.home-content span,
.home-content p,
.home-content .btn {
  animation: fadeIn 1s ease forwards;
}

.home-content h1 {
  font-size: 36px;
  font-weight: 700;
}

.home-content span {
  font-size: 20px;
  font-weight: 700;
  color: yellowgreen;
}

.home-content p {
  font-size: 15px;
  margin: 20px 0 40px;
}

.home-content p a {
  color: yellowgreen;
}

.home-content .btn {
  display: inline-block;
  background: var(--main-color);
  color: yellowgreen;
  font-size: 20px;
  letter-spacing: .1rem;
  font-weight: 600;
  transition: .5s ease;
}

.home-content .btn:hover {
  color: var(--main-color);
  border-color: var(--main-color);
  text-shadow:  0 0 20px yellowgreen;
}

.socmed {
  display: flex;
  right: 0;
  gap: 30px; /* Add gap between icons */
  max-width: 160px; /* Adjust the max-width as needed (40px width + 20px gap)*3 */
  margin-top: 50px;
  position: relative;
}

.socmed a {
  box-sizing: border-box;
  position: relative;
  display: flex;
  width: 40px;
  height: 40px;
  background: yellowgreen;
  font-size: 20px;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-decoration: none;
  z-index: 1;
  transition: .5s ease;
  padding: 10px;
}

.socmed a:nth-child(1) {
  margin-right: 10px;
  opacity: 0;
  animation: slideleft 1s ease forwards;
  animation-delay: .1s;
}
.socmed a:nth-child(2) {
  margin-right: 10px;
  opacity: 1;
}
.socmed a:nth-child(3) {
  margin-right: 10px;
  opacity: 0;
  animation: slideRight 1s ease forwards;
  animation-delay: .1s;
}

.socmed a::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: yellowgreen;
  z-index: -1;
  transition: .5s ease;
}

.socmed a:hover::before {
  filter: blur(50px);
}

.socmed a::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: #0c1022;
  transform: scale(.88);
  z-index: -1;
  transition: .5s ease;
}

.socmed a:hover::after {
  transform: scale(0);
}

aside {
  width: 70%;
  text-align: right;
}

.image {
  width: 75%;
  border-radius: 10px;
  opacity: 0 ;
  animation: zoomin 1s ease forwards, floatImage 4s ease-in-out infinite;
}

.footer {
  background: url(assets/image/index/Land\ Space\ copy.png);
  background-color: transparent;
  background-size: cover;
  text-shadow:  0 0 10px #fff; 
  color: #0c1022;
  font-weight: 1000;
  text-align: center;
  padding: 15px;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 20%;
}

.footer p {
  line-height: 50%; /* Sesuaikan nilai line-height */
  margin: 80px; /* Menghilangkan margin bawaan untuk mencegah space tambahan */
}

/*Breakpoint*/
@media (max-width: 992px) {
  .header {
    padding: 1.3rem 5%;
  }
}

@media (max-width: 833px) {
  .icons {
    display: inline-flex;
  }

  #check:checked~.icons #menu-icon {
    display: none;
  }

  .icons #close-icon {
    display: none;
  }

  #check:checked~.icons #close-icon {
    display: block;
  }

  .navbar {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 0;
    background: rgba(0, 0, 0, .1);
    backdrop-filter: blur(50px);
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
    overflow: hidden;
    transition: .3s ease;
  }

  #check:checked~.navbar {
    height: 17.7rem;
  }

  .navbar a {
    display: block;
    font-size: 1.1rem;
    margin: 1.5rem 0;
    text-align: center;
    transform: translateY(-50px);
    transition: .3s ease;
  }

  #check:checked~.navbar a{
    transform: translateY(0);
    opacity: 1;
  }

}

@keyframes slideTop {
  0% {
    opacity: 0;
    transform: translateY(-100px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideRight {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideleft {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateX(20px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes zoomin {
  0% {
    opacity: 0;
    transform: scale(0);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes floatImage {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-24px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes loopBackground {
  0% {
      background-position: 100% 0;
  }
  100% {
      background-position: 0 0;
  }
}
